* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}

p {
    margin: 5px;
}

a {
    text-decoration: none;
}

.business-card {
    width: 300px;
    margin-top: 100px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile-image {
    max-width: 100%;
}
.social-media a {
    
    margin: 5px;
}